<section class="text-center container">
    <div class="row py-lg-5 banner">
    </div>
</section>
<div class="container my-5" *ngIf="movies$ | async; else empty">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col pointer" *ngFor="let movie of movies$ | async">
            <div class="card shadow-sm bg-dark border-0">
                <img [src]="movie.imgURL" class="card-img-top fan-card" alt="...">

                <div class="card-body text-white">
                    <h5 class="truncate-text-1">{{ movie.title }}</h5>
                    <p class="truncate-text-2">
                        {{ movie.description }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-white lead">
                            <i class="bi bi-star-fill text-warning"></i> {{ movie.rating }}</small>
                        <div class="">
                            <button type="button" class="btn btn-sm btn-warning" routerLink="/movie/{{ movie.id }}">
                                <i class="bi bi-info-circle"></i>
                                Info
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #empty>
    <div class="container">
        <div class="d-flex bd-highlight justify-content-center align-conten-center">
            <div class="bd-highlight display-4 text-warning">
                No Movies Available...
            </div>
        </div>
    </div>
</ng-template>